/*---Pheobe Hill and Paige Davis
  12/7/2019
  John Kinuthia
  Web application developement
 ISYS 288 
 0001
 Style the movies and Tv show page--*/

  
/* Title of the pages*/
.Head{
       text-shadow: 2px 2px 5px white;
     background-color: #D10000;
     color:#FFCBDD;
     size: 20;
}  

/* body color*/
.RBodyy{
    background-color:#FFCBDD;
}

/* Logo*/
img[src^="paige_logo.png"]{
    width:300px;
    z-index:1;
    padding-left:460px;
    position: relative;
    top: -90px;
}

/* summary tabs*/
summary{
    background-color: #FFCBDD;
    color: black;
    size: 20;
}
summary:hover{
    background-color: #D10000; 
}


/* orange is new black image*/
img[src^="oj.png"]{
    width:300px;
    z-index:1;
}
/* nav bar formation */
.navBar{
list-style-type:none;
    margin:0;
    padding-left:5%;
    padding-top:1%;
    padding-bottom:20px;
    overflow:hidden;
    font-size:20px;
    line-height:30px;
    
}

.navRight{
    position:relative;
    top:-10px;
   margin-left:400px;
   float:right;
    padding-left:170px;
}

.inline{
    float:left;
    border-top-style: dotted;
  border-right-style: dotted;
  border-bottom-style: dotted;
  border-left-style: dotted;
  margin-right:10px; 
  margin-left: 10px;
}

.inline a{
    display:block;
    text-align:center;
    padding: 14px 16px;
    text-decoration:none;
    color:#3E000C;
}

.inline a:hover{
    background-color:#D10000;
}


.showImage{
    display:block;
    height:auto;
    width:300px;
}

/* footer*/
.footer{
    background-color:#D10000;
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
}


.column{
  border:1px solid #D10000;
    border-radius:25px;
    padding:10px;
    width:55%;
    height:40%;}

.textBoxA{
    border:1px solid black;
    border-radius:25px;
    padding:10px;
    width:55%;
    height:40%;
}

/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #D10000;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.bodyBox{
    margin-left:300px;
   
}

.bodyBoxContainer{
    padding:10px;
     background-image: linear-gradient(to bottom right, #FFCBDD, #D10000);
}

/*border */
.submissionBox{
    border-top-style: dotted;
  border-right-style: dotted;
  border-bottom-style: dotted;
  border-left-style: dotted;
}
