
/*---Pheobe Hill and Paige Davis
  12/7/2019
  John Kinuthia
  Web application developement
 ISYS 288 
 0001
 Style the movies and Tv show page--*/

  
/* Title of the pages*/
.Head{
       text-shadow: 2px 2px 5px white;
     background-color: #D10000;
     color:#FFCBDD;
     size: 20;
}  

/* Movie page body*/
.movieBodyy{
    background-color: #FFCBDD;
}

/* TV SHow body page*/
.showsBodyy{
    background-color:#FFCBDD;
   
}

/* Logo*/
img[src^="paige_logo.png"]{
    width:300px;
    z-index:1;
    padding-left:460px;
    position: relative;
    top: -90px;
}

/* nav bar formation */
.navBar{
list-style-type:none;
    margin:0;
    padding-left:5%;
    padding-top:1%;
    padding-bottom:20px;
    overflow:hidden;
    font-size:20px;
    line-height:30px;
    
}

.navRight{
    position:relative;
    top:-10px;
   margin-left:400px;
   float:right;
    padding-left:170px;
}

.inline{
    float:left;
    border-top-style: dotted;
  border-right-style: dotted;
  border-bottom-style: dotted;
  border-left-style: dotted;
  margin-right:10px; 
  margin-left: 10px;
}

.inline a{
    display:block;
    text-align:center;
    padding: 14px 16px;
    text-decoration:none;
    color:#3E000C;
}

.inline a:hover{
    background-color:#D10000;
}



.showImage{
    display:block;
    height:auto;
    width:300px;
}

/* footer*/
.footer{
    background-color:#D10000;
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
}

/* Border around txt*/
.introContainer{
    position:relative;
    top:-150px;
    float:right;
    padding-right:350px;
    width:500px;
}

.introBox{
      border: 1px solid black;
    position:relative;
    top:220px;
    padding:30px;
    
}

.introBoxContainer{
    padding:10px;
    width:auto;
    margin-bottom:10%;
    position:relative;
    top: -200px;
}

.containerOne{
    position:relative;
    width:50%;
    z-index:99;
}

.mo{
   border-top-style: dotted;
  border-right-style: dotted;
  border-bottom-style: dotted;
  border-left-style: dotted;
}

h1{
    font:larger;
}